---
layout: default
title: Portfolio
---
{% include header.html %}

{% include portfolio_carousel.html %}

<section id="portfolio-gallery">
  <h2>My Gallery</h2>
  <div class="gallery-grid">
    {% include portfolio_artwork.html thumb_src="/assets/images/thumb-1.jpg" full_src="/assets/images/full-1.jpg" alt_text="Artwork 1" %}
    {% include portfolio_artwork.html thumb_src="/assets/images/thumb-2.jpg" full_src="/assets/images/full-2.jpg" alt_text="Artwork 2" %}
    {% include portfolio_artwork.html thumb_src="/assets/images/thumb-3.jpg" full_src="/assets/images/full-3.jpg" alt_text="Artwork 3" %}
    {% include portfolio_artwork.html thumb_src="/assets/images/thumb-4.jpg" full_src="/assets/images/full-4.jpg" alt_text="Artwork 4" %}
  </div>
</section>

<div id="image-modal" class="modal">
  <span class="modal-close">&times;</span>
  <img class="modal-content" id="full-image">
</div>

{% include footer.html %}