<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body> <!-- the "class=scrolled" made a bug causing the footer to stay expanded -->

    <div class="animated-background"></div>

    <svg style="position: absolute; width: 0; height: 0;">
        <filter id="cloudy-noise">
            <feTurbulence type="fractalNoise" baseFrequency="0.05" numOctaves="4" result="turbulence" />
            <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="20" />
        </filter>
    </svg>

    {% include header.html %}

    <div class="content-wrapper">
      {{ content }}
    </div>

    {% include footer.html %}
    <script src="{{ '/assets/js/portfolio.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>
</html>